<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" body="body "href="<%=url('/style.css')%>" />
  </head>
  <body>

    <%= @space.name %>
    <%= @space.description %>
    <%= @space.price_per_night %>
    <%= @space.start_date %>
    <%= @space.end_date %>
    <p>Contact <%= @user.name %> at: <%= @user.email %></p>

    <form action="/requests/new" method="GET">
      <input type='submit' value='Make Request'>
      <input type='hidden' name='space_id' value='<%= @space.id %>'>
    </form>

    <%= flash[:notice] %>

  </body>
</html>
