<head>
  <title> MakersBnB </title>
  <link type="text/css" rel="stylesheet" body="body "href="<%=url('/style.css')%>" />
</head>

<body>
  <div class='container'>
  <% if current_user %>
    <h2><b>Hi, <%= current_user.name %> </b></h2>
  <% end %>

  <%= flash[:notice] %>

  <ul>
    <% @spaces.each do |space| %>
      <div id='<%= space.id %>'>
        <li style='list-style: none;'>
          <h2><%= space.name %></h2>
          <p><%= space.description %></p>
          <p> £<%= space.price_per_night %> per night</p>
            <div class="info_butt">
              <form action="/spaces/<%= space.id %>/moreinfo" method="GET">
                <input class="more_info_butt" type='submit' value='More Info'>
              </form>
            </div>
        </li>
        <% end %>
      </div>
  </ul>
  </div>
</body>
