<head>
  <title> MakersBnB </title>
  <link type="text/css" rel="stylesheet" body="body "href="<%=url('/style.css')%>" />
</head>

<body>
  <div class='container'>
  <% if current_user %>
 
    <h1><b>Hi, <%= current_user.name %> </b></<h1>

  <% else %>

  <% end %>


  <%= flash[:notice] %>
  </div>

  <ul>
    <% @spaces.each do |space| %>
      <div id='<%= space.id %>'>
        <li style='list-style: none;'>
          <%= space.name %><br>
          <%= space.description %><br>
          <%= space.price_per_night %>
            <form action="/spaces/<%= space.id %>/moreinfo" method="GET">
              <input class="button" type='submit' value='More Info'>
            </form>
        </li>
        <% end %>
      </div>
  </ul>
</body>
