<% if current_user %>
  <p><b>Hi, <%= current_user.name %></b></p>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Sign Out">
  </form>

<% else %>
  <form action="/sign_up">
    <input type="submit" value="Sign Up">
  </form>

  <form action="/sign_in">
    <input type="submit" value="Sign In">
  </form>
<% end %>

<ul>
  <% @spaces.each do |space| %>
  <li>
    <%= space.name %>
    <%= space.description %>
    <%= space.price_per_night %>
    <%= space.start_date %>
    <%= space.end_date %>
  </li>
  <% end %>
</ul>
